/* Created by: MariaG
* Created on: April 12, 2022
* This CSS file defines the style for index.php
* ICS2O-Unit3-02-PHP-VolumePyramid
*/

h1 {
  text-align: center;
  padding: 20px;
  background-color: #e95a4e;
  color: white;
  font-family: "Arial Narrow", Arial, sans-serif;
}

body {
  width: 80%;
  margin: 5% 10%;
  font-family: Arial, "Arial Narrow", sans-serif;
}

img {
  width: 50%;
}

#first {
  background-color: #fde7fb;
  padding: 20px;
  text-align: center;
}

p {
  width: 80%;
  margin-left: 10%;
}

form {
  margin-left: 10%;
}

h3 {
  margin-left: 10%;
}

#second {
  background-color: #e0f7ff;
  padding: 20px;
  margin-top: 30px;
}

#third {
  background-color: #fbffb5;
  padding: 20px;
}

iframe {
  width: 100%;
}

#width {
  padding-top: 30px;
  padding-right: 20px;
  margin-right: 20px;
}
